---
import { Button } from "@/components/ui/button";
---
<section class="relative bg-cover bg-left h-screen mb-10" style="background-image: url('/hero.jpg');">
    <div class="absolute inset-0 to-transparent from-black bg-gradient-to-t"></div>
    <div class="relative z-10 max-w-screen-xl mx-auto px-4 py-28 md:px-8 h-full flex items-center">
        <div class="space-y-5 max-w-4xl text-left">
            <h2 class="text-4xl text-white font-extrabold mx-auto md:text-5xl">
                Transformamos tus ideas en soluciones innovadoras
            </h2>
            <p class="max-w-2xl text-xl text-white">
                Especialistas en diseño, desarrollo y optimización de sistemas eléctricos y electrónicos para la industria moderna.
            </p>
            
            <div>
                <Button className="text-white">
                    Más información
                </Button>
            </div>
        </div>
    </div>
</section>
