---
import { Button } from "@/components/ui/button";
---
<section class="relative bg-cover bg-left h-screen mb-10" style="background-image: url('/hero.jpg');">
    <div class="absolute inset-0 bg-black bg-opacity-40 backdrop-blur-sm"></div>
    <div class="relative z-10 max-w-screen-xl mx-auto px-4 py-28 md:px-8 h-full flex items-center">
        <div class="space-y-5 max-w-4xl text-left">
            <h2 class="text-4xl text-white font-extrabold mx-auto md:text-5xl">
                Transformamos tus ideas en soluciones innovadores
            </h2>
            <p class="max-w-2xl text-xl text-white">
                Especialistas en diseño, desarrollo y optimizacion de sistemas electricos y electronicos para la industria moderna.    
            </p>
            
            <div>
                <Button className="text-white">
                    Mas informacion
                </Button>
            </div>
           
        </div>
    </div>
</section>