---
import Sections from "./sections.astro";
---

<Sections title="Quiénes Somos">
  <div class="max-w-3xl mx-auto p-6 text-center">
    <h2 class="text-3xl font-bold text-gray-800 dark:text-white mb-4">
      SEYMEC Servicios e Ingeniería Mecatrónica S.A.S.
    </h2>
    <p class="text-gray-600 dark:text-gray-300 mb-4">
      Brindamos servicios integrales de gestión de proyectos, ingeniería, suministros, construcción y mantenimiento para proyectos en plantas industriales. Nos especializamos en ofrecer una atención personalizada para resolver sus necesidades con toda la experiencia y conocimientos de nuestros miembros.
    </p>
    <p class="text-gray-600 dark:text-gray-300 mb-4">
      Nuestro equipo de profesionales está comprometido con el desarrollo de soluciones oportunas, cumpliendo con los más altos estándares de seguridad y calidad, y respetando el medio ambiente.
    </p>
  </div>
</Sections>