---
import Banner from "@/components/landing/Banner.astro";
import { Card } from "@/components/ui/card";
import { services } from "@/data";
---

<Banner
  title="Nuestros Servicios"
  description="Tenemos servicios especializados para diferentes áreas industriales"
  img="/hero.webp"
>
  <div class="max-w-6xl mx-auto p-6">
    <div class="text-center mb-8">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-white">
        Servicios
      </h2>
      <p class="text-gray-600 dark:text-gray-300">
        Ofrecemos una amplia gama de servicios especializados para satisfacer
        las necesidades de nuestros clientes en distintas áreas industriales.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          services.map((service) => (
            <Card
              href={service.href}
              title={service.title}
              description={service.description}
              image={service.img}
              client:load
            />
          ))
        }
    </div>
  </div>
</Banner>
