---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/landing/Footer.astro";
import { Header } from "@/components/Header";
import { Navbar } from "@/components/Navbar";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
	<Navbar client:load />
    <!-- <Header /> -->
    <main>
      <div class="w-full">
        <slot />
      </div>
    </main>

    <script
      src="https://kit.fontawesome.com/0a3b693c73.js"
      crossorigin="anonymous"></script>
  </body>
</html>
