---
import BaseHead from "@/components/BaseHead.astro";
import "@fontsource/poppins";
import { Navbar } from "@/components/Navbar";
import Footer from "@/components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <BaseHead title={title} description={description} />
  <body class="transition-colors duration-300 ease-in-out">
    <Navbar client:load />
    <main class="">
      <slot />
    </main>
    <Footer />
  </body>
</html>
